{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"bin/lint.cljk" ".cljs"
  "src/btc_crypto/base58.cljk" ".cljc"
  "src/btc_crypto/bech32.cljk" ".cljc"
  "src/btc_crypto/bip32.cljk" ".cljc"
  "src/btc_crypto/bip39.cljk" ".cljc"
  "src/btc_crypto/cashaddr.cljk" ".cljc"
  "src/btc_crypto/core.cljk" ".cljc"
  "src/btc_crypto/ripemd160.cljk" ".cljc"
  "src/btc_crypto/schnorr.cljk" ".cljc"
  "src/btc_crypto/signature.cljk" ".cljc"
  "src/btc_crypto/tx.cljk" ".cljc"
  "test/btc_crypto/base58_test.cljk" ".clj"
  "test/btc_crypto/bech32_test.cljk" ".clj"
  "test/btc_crypto/bip32_test.cljk" ".clj"
  "test/btc_crypto/bip39_test.cljk" ".clj"
  "test/btc_crypto/core_test.cljk" ".clj"
  "test/btc_crypto/multichain_test.cljk" ".clj"
  "test/btc_crypto/ripemd160_test.cljk" ".clj"
  "test/btc_crypto/schnorr_test.cljk" ".clj"
  "test/btc_crypto/signature_test.cljk" ".clj"
  "test/btc_crypto/tx_test.cljk" ".clj"}}
